body {
  overflow: hidden;
  margin: 0;
}
.wrapperBodyes {
  background: url(./img/kosmicheskoe.jpg);
  background-size: cover;
  height: 100vh;
}

.top_games {
  /* height: 12vh; */
  display: flex;
  justify-content: space-evenly;
}

.cartridges {
  width: 12vh;
  height: 6vh;
  background-color: rgb(232, 241, 238);
  /* position: absolute;
  left: 35%; */
  border: 5px black solid;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 2rem;
}

.glasses {
  width: 10vh;
  height: 6vh;
  background-color: rgb(232, 241, 238);
  /* position: relative;
  left: 50%; */
  border: 5px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.middle_games {
  height: 55vh;
    position: relative;
    /* border: 1px solid red; */
    width: 100vw;
}

.control_game {
  position: relative;
  height: 40vh;
  width: 100vw;
}

.target {
  width: 10vh;
  height: 10vh;
  position: absolute;
  transition: all 0.8s;

}

.special_effects{
  position: absolute;
  width: 10vh;
  height: 10vh;
}

.starship {
  width: 150px;
  position: absolute;
  top: 1px;
    left: 1px;

}

.sword {
  width: 32px;
  height: 50px;
  transform: rotate(30deg);
  position: absolute;
  top: 1px;
  left: 61px;
  transition: top 0.10s;
}


.weapon {
  /* width: 150px; */
  position: absolute;
  left: 1px;
  top: 55vh;
}

.arrow_top {
  height: 96px;
  position: absolute;
  bottom: 50px;
  left: 20px;
  transform: rotate(-90deg);
  width: 96px;
  background: url(./img/arrow.png);
  background-size: cover;

}

.arrow_right {
  position: absolute;
  width: 96px;
  height: 96px;
  right: 30px;
  bottom: 50px;
  transform: rotate(90deg);
  background: url(./img/arrow.png);
  background-size: cover;
}

@media (max-width: 800px) 
{
  .arrow_right {
    width: 90px; 
    height:90px;
  }
  .arrow_top {
    width: 90px; 
    height:90px;
  }
}

@media (min-width: 1200px) {
  .arrow_right {
    display: none;
  }
  .arrow_top {
    display: none;
  }
}



.fire_button {
  transition: all 0.5s ease-out;
  width: 60px;
  height: 60px;
  right: calc(55% - 40px);
  bottom: 50px;
  position: absolute;
 background-image: url(./img/fire.png);
 background-size: cover;
}

@media (min-width: 606px) {
  .fire_button {
    width: 90px;
    height: 90px;
    right: calc(50% - 40px);
  }
}

@media (min-width: 1024px) {
  .fire_button {
    width: 120px;
    height: 120px;
  }
}

.window_start {
  background-color: rgb(43, 255, 237);
  color: black;
  border: 1px solid rgb(248, 248, 251);
  border-radius: 10px;
  width: 60vw;
  height: 40vh;
  position: absolute;
  top: 25%;
  left: 20%;
  opacity: 0.8;
}
.hideWindows {
  display: none;
}

.window_start__title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.window_start__button{
  width: 40vw;
  height: 4rem;
  background-color: rgb(0, 26, 255);
  position: absolute;
    bottom: 10px;
    left: 20%;
 }